{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "embeddedLanguageFormatting": "auto",
  "bracketSameLine": true,
  "quoteProps": "consistent",
  "proseWrap": "always",

  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "singleQuote": false
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "jsxSingleQuote": false
      }
    }
  ]
}
